@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

/*   font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal; */

html{
    font-size: 15px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
    max-width: 100%;
}
figure{
    width: fit-content;
    height: fit-content;
}

/* header */
header {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-bottom: 100px;
}

header #portoflio {
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

header #im {
    width: 100%;
    height: 130px;
    cursor: pointer;
    background-color: #7B0000;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

header #leica{
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

header #supreme{
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

header #uiux{
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

header #branding{
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}

header #cafe{
    width: 100%;
    height: 130px;
    cursor: pointer;
    text-align: center;
    line-height: 130px;
    font-size: 3rem;
    border-bottom: 1px solid #fff;
}
/* //header */

/* my */
#my{
    width: 100%;
    height: 95vh;
    padding: 0 100px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#my h2{
    width: fit-content;
    margin:25px 0;
    font-size: 5rem;
    color: #7B0000;
}
#my .allbox{
    position: relative;
}
#my .allbox .all1{
    display: flex;
}
#my .allbox .all1 .box img{
    width: 80%;
}
#my .allbox .all1 .text{
    margin-left: 140px;
}
#my .allbox .all1 .text p{
    font-size: 2rem;
}
#my .allbox .all1 .text p{
    margin-bottom: 50px;
}
#my .allbox .all2{
    width: 85%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 53%;
    left: 20%;
}
#my .allbox .all2 .a1{
    width: 30%;
    height: 280px;
    padding: 25px;
    background-color: #7B0000;
    color: #fff;
}
#my .allbox .all2 .a1 h4{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
#my .allbox .all2 .a1 p{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
#my .allbox .all2 .a1 span{
    margin-right: 15px;
}
#my .allbox .all2 .a1 p:last-child{
    margin-bottom: 0;
}
#my .allbox .all2 .a2{
    width: 65%;
    height: 312px;
    padding: 20px;
    border: 1px solid #000;
}
#my .allbox .all2 .a2 .s{
    display: flex;
    align-items: center;
}
#my .allbox .all2 .a2 .s .icon{
    width: 600px;
    margin-left: 30px;
}
#my .allbox .all2 .a2 h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
#my .allbox .all2 .a2 figure{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
/* //my */

/* leica */
#le{
    width: 100%;
    height: 95vh;
    padding: 0 100px;
    margin-top: 100px;
    position: relative;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
}
#le .title{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#le .title .t1{
    font-size: 5rem;
    margin-right: 20px;
}
#le .title .t2{
    font-size: 3rem;
    margin-right: 20px;
}
#le .title .t3 figure img{
    width: 50%;
}
#le .all{
    width: 100%;
    height: fit-content;
}
#le .text1{
    width: 70%;
    font-size: 2rem;
    position: absolute;
    line-height: 170%;
}
#le .text2{
    font-size: 2rem;
    position: absolute;
    bottom: 13%;
}
#le .text2 p{
    margin-bottom: 30px;
}
#le .text2 p:last-child{
    margin-bottom: 0;
}
#le .box{
    width: 55%;
    position: absolute;
    top: 30%;
    left: 35%;
}
/* //leica */

/* supreme */
#sup{
    width: 100%;
    height: 95vh;
    padding: 0 100px;
    position: relative;
    background-color: #000;
    color: #fff;
    margin-top: 100px;
}
#sup .title{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#sup .title .t1{
    font-size: 5rem;
    margin-right: 20px;
}
#sup .title .t2{
    font-size: 3rem;
    margin-right: 20px;
}
#sup .title .t3 figure img{
    width: 50%;
}
#sup .all{
    width: 100%;
    height: fit-content;
}
#sup .text1{
    width: 70%;
    font-size: 2rem;
    line-height: 170%;
    position: absolute;
}
#sup .text2{
    font-size: 2rem;
    position: absolute;
    bottom: 13%;
}
#sup .text2 p{
    margin-bottom: 30px;
}
#sup .text2 p:last-child{
    margin-bottom: 0;
}
#sup .box{
    width: 55%;
    position: absolute;
    top: 30%;
    left: 35%;
}
/* //supreme */

/* uiux */
#ui{
    width: 95%;
    height: 95vh;
    padding: 0 100px;
    margin: 100px auto;
    position: relative;
    border: 1px solid #000;
    border-radius: 100px;
}
#ui .title{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#ui .title .t1{
    font-size: 5rem;
    margin-right: 20px;
}
#ui .title .t2{
    font-size: 3rem;
    margin-right: 20px;
}
#ui .title .t3 figure img{
    width: 50%;
}
#ui .all{
    width: 100%;
    height: fit-content;
}
#ui .text1{
    width: 70%;
    font-size: 2rem;
    line-height: 170%;
    position: absolute;
}
#ui .text2{
    font-size: 2rem;
    position: absolute;
    bottom: 13%;
}
#ui .text2 p{
    margin-bottom: 30px;
}
#ui .text2 p:last-child{
    margin-bottom: 0;
}
#ui .box{
    width: 60%;
    position: absolute;
    top: 30%;
    left: 35%;
}
/* //uiux */

/* branding */
#brand{
    width: 95%;
    height: 95vh;
    padding: 0 100px;
    position: relative;
    margin: 100px auto;
    border: 1px solid #000;
}
#brand .title{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#brand .title .t1{
    font-size: 5rem;
    margin-right: 20px;
}
#brand .title .t2{
    font-size: 2.6rem;
    margin-right: 20px;
}
#brand .title .t3 figure img{
    width: 50%;
}
#brand .all{
    width: 100%;
    height: fit-content;
}
#brand .text1{
    width: 70%;
    line-height: 170%;
    font-size: 2rem;
    position: absolute;
}
#brand .text2{
    font-size: 2rem;
    position: absolute;
    bottom: 13%;
}
#brand .text2 p{
    margin-bottom: 30px;
}
#brand .text2 p:last-child{
    margin-bottom: 0;
}
#brand .box{
    width: 60%;
    position: absolute;
    top: 30%;
    left: 35%;
}
/* //branding */

/* cafe24 */
#cafe_i{
    width: 95%;
    height: 95vh;
    padding: 0 100px;
    position: relative;
    margin: 100px auto;
    border: 1px solid #000;
    border-radius: 100px;
}
#cafe_i .title{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#cafe_i .title .t1{
    font-size: 5rem;
    margin-right: 20px;
}
#cafe_i .title .t2{
    font-size: 2.5rem;
    margin-right: 20px;
}
#cafe_i .title .t3 figure img{
    width: 50%;
}
#cafe_i .all{
    width: 100%;
    height: fit-content;
}
#cafe_i .text1{
    width: 80%;
    font-size: 2rem;
    line-height: 170%;
    position: absolute;
}
#cafe_i .text2{
    font-size: 2rem;
    position: absolute;
    bottom: 13%;
}
#cafe_i .text2 p{
    margin-bottom: 30px;
}
#cafe_i .text2 p:last-child{
    margin-bottom: 0;
}
#cafe_i .box{
    width: 55%;
    position: absolute;
    top: 40%;
    left: 35%;
}
/* //cafe24 */

/* footer */
footer{
    width: 100%;
    margin-top: 300px;
}
footer h2{
    padding: 0 100px;
    font-size: 3rem;
    color: #7B0000;
    border-bottom: 1px solid #000;
}
footer .all{
    width: 100%;
    padding: 0 100px;
    display: flex;
}
footer .all .f1{
    width: 50%;
    font-size: 1.5rem;
    border-right: 1px solid #000;
}
footer .all .f1 p:first-child{
    margin-top: 50px;
}
footer .all .f1 p{
    margin-bottom: 50px;
}
footer .all .f2{
    width: 50%;
    padding:50px;
}
footer .all .f2 .text1{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
footer .all .f2 .text1 p{
    font-size: 1.5rem;
    margin-left: 30px;
}
footer .all .f2 .text2{
    display: flex;
    align-items: center;
}
footer .all .f2 .text2 p{
    font-size: 1.5rem;
    margin-left: 30px;
}
/* //footer */

@media screen and (max-width:1670px) {
    #le .box{
        top: 32%;
    }
    #sup .box{
        top: 32%;
    }
    #ui .box{
        top: 32%;
    }
    #brand .box{
        top: 32%;
    }
    #cafe_i .box{
        left: 40%;
    }
}

@media screen and (max-width:1600px) {
    #my .allbox .all1 .text{
        margin-left: 5px;
    }
    #my .allbox .all2 .a1{
        width: 33%;
    }
    #le .box{
        top: 34%;
    }
    #sup .box{
        top: 34%;
    }
    #ui .box{
        top: 34%;
    }
    #brand .box{
        top: 34%;
    }
}

@media screen and (max-width:1500px) {
    html{
        font-size: 14px;
    }
    #my .allbox .all2{
        top: 51%;
    }
    #my .allbox .all2 .a2{
        height: 325px;
    }
    #le .box{
        top: 37%;
    }
    #sup .box{
        top: 37%;
    }
    #ui .box{
        top: 37%;
    }
    #brand .box{
        top: 37%;
    }
}
@media screen and (max-width:1440px) {
    #le .box{
        top: 40%;
        left: 37%;
    }
    #le .title .t1{
        font-size: 4rem;
    }
    #sup .box{
        top: 40%;
        left: 37%;
    }
    #sup .title .t1{
        font-size: 4rem;
    }
    #ui .box{
        top: 40%;
        left: 37%;
    }
    #ui .title .t1{
        font-size: 4rem
    }
    #brand .box{
        top: 40%;
        left: 37%;
    }
    #brand .title .t1{
        font-size: 4rem;
    }
    #cafe_i .box{
        top: 42%;
    }
    #cafe_i .title .t1{
        font-size: 4rem;
    }
}

@media screen and (max-width:1365px) {
    #le .box{
        top: 41%;
        left: 39%;
    }
    #sup .box{
        top: 41%;
        left: 39%;
    }
    #ui .box{
        top: 41%;
        left: 39%;
    }
    #brand .box{
        top: 41%;
        left: 39%;
    }
    #cafe_i .box{
        top: 44%;
        left: 41%;
    }

}

@media screen and (max-width:1280px) {
    html{
        font-size: 13px;
    }
    #my .allbox .all2 .a1{
        width: 50%;
    }
    #le .box{
        top: 44%;
        left: 42%;
    }
    #sup .box{
        top: 44%;
        left: 42%;
    }
    #ui .box{
        top: 44%;
        left: 42%;
    }
    #brand .box{
        top: 44%;
        left: 42%;
    }
    #cafe_i .box{
        top: 46%;
        left: 44%;
    }
}
@media screen and (max-width:1200px) {
    #my .allbox .all1 .text p{
        margin-bottom: 35px;
    }
}
@media screen and (max-width:1170px) {
    #my .allbox .all1 .text{
        margin-left: 0;
    }
    #my .allbox .all2 .a2{
        width: 63%;
        height: 314px;
    }
    #le .box{
        top: 47%;
        left: 46%;
    }
    #le .title .t2{
        font-size: 2.8rem;
    }
    #sup .box{
        top: 47%;
        left: 46%;
    }
    #sup .title .t2{
        font-size: 2.8rem;
    }
    #ui .box{
        top: 48%;
        left: 43%;
    }
    #ui .title .t2{
        font-size: 2.8rem;
    }
    #brand .box{
        top: 48%;
        left: 43%;
    }
    #brand .title .t2{
        font-size: 2.8rem;
    }
    #cafe_i .box{
        top: 53%;
        left: 51%;
    }
    #cafe_i .title .t2{
        font-size: 2.8rem;
    }
}
@media screen and (max-width:1135px) {
    #my .allbox .all1 .text p {
        font-size: 1.8rem;
    }
    #my .allbox .all2 .a2 {
        width: 61%;
    }
}
@media screen and (max-width:1076px) {
    #my .allbox .all1 .text p{
        font-size: 1.5rem;
    }
    #my .allbox .all2 .a2{
        width: 57%;
    }
}
@media screen and (max-width:1024px) {
    #my .allbox .all1 .box img{
        width: 65%;
    }
    #my .allbox .all1 .text p{
        font-size: 1.4rem;
    }
    #my .allbox .all2 .a1{
        height: 305px;
    }
    #my .allbox .all2 .a2{
        height: 315px;
    }
    #my .allbox .all2 .a1 p{
        font-size: 1.2rem;
        margin-bottom: 25px
    }
}
@media screen and (max-width:1000px) {
    #my .allbox .all1 .text p {
        margin-bottom: 25px;
    }
    
}
@media screen and (max-width:991px) {
    html{
        font-size: 12px;
    }
    #my{
        height: fit-content;
    }
    #my .allbox .all1{
        flex-direction: column;
    }
    #my .allbox .all1 .box img{
        width: 100%;
    }
    #my .allbox .all1 .text{
        margin-top: 10px;
        margin-left: 0;
    }
    #my .allbox .all2{
        position:unset;
        display: flex;
        flex-direction: column;
    }
    #my .allbox .all2{
        width: 100%;
        margin-bottom: 50px;
    }
    #my .allbox .all2 .a1{
        width: 100%;
    }
    #my .allbox .all2 .a1 h4{
        font-size: 2rem;
    }
    #my .allbox .all2 .a1 p{
        font-size: 1.8rem;
    }
    #my .allbox .all2 .a2{
        width: 100%;
    }
    #my .allbox .all2 .a2 h4{
        font-size: 2rem;
    }
    #le{
        height: 130vh;
        padding: 0 40px;
    }
    #le .title .t1{
        font-size: 5rem;
    }
    #le .title .t2{
        font-size: 3.5rem;
    }
    #le .title .t3{
        display: none;
    }
    #le .all{
        display: flex;
        flex-direction: column;
    }
    #le .text1{
        width: 100%;
        position: unset;
        order: 2;
        margin-bottom: 80px;
        font-size: 2.5rem;
    }
    #le .text2{
        position: unset;
        bottom: 0;
        order: 3;
    }
    #le .box{
        width: 100%;
        order: 1;
        position: unset;
        top: 0;
        left: 0;
    }
    
    #sup{
        height: 130vh;
        padding: 0 40px;
    }
    #sup .title .t1{
        font-size: 5rem;
    }
    #sup .title .t2{
        font-size: 3.5rem;
    }
    #sup .title .t3{
        display: none;
    }
    #sup .all{
        display: flex;
        flex-direction: column;
    }
    #sup .text1{
        width: 100%;
        position: unset;
        order: 2;
        margin-bottom: 80px;
        font-size: 2.5rem;
    }
    #sup .text2{
        position: unset;
        bottom: 0;
        order: 3;
    }
    #sup .box{
        width: 100%;
        order: 1;
        position: unset;
        top: 0;
        left: 0;
    }
    #ui{
        height: 130vh;
        padding: 0 40px;
    }
    #ui .title .t1{
        font-size: 5rem;
    }
    #ui .title .t2{
        font-size: 3.5rem;
    }
    #ui .title .t3{
        display: none;
    }
    #ui .all{
        display: flex;
        flex-direction: column;
    }
    #ui .text1{
        width: 100%;
        position: unset;
        order: 2;
        margin-bottom: 80px;
        font-size: 2.5rem;
    }
    #ui .text2{
        position: unset;
        bottom: 0;
        order: 3;
    }
    #ui .box{
        width: 100%;
        order: 1;
        position: unset;
        top: 0;
        left: 0;
    }
    #brand{
        height: 130vh;
        padding: 0 40px;
    }
    #brand .title .t1{
        font-size: 5rem;
    }
    #brand .title .t2{
        font-size: 3.5rem;
    }
    #brand .title .t3{
        display: none;
    }
    #brand .all{
        display: flex;
        flex-direction: column;
    }
    #brand .text1{
        width: 100%;
        position: unset;
        order: 2;
        margin-bottom: 80px;
        font-size: 2.5rem;
    }
    #brand .text2{
        position: unset;
        bottom: 0;
        order: 3;
    }
    #brand .box{
        width: 100%;
        order: 1;
        position: unset;
        top: 0;
        left: 0;
    }
    #cafe_i{
        height: 150vh;
        padding: 0 40px;
    }
    #cafe_i .title .t1{
        font-size: 5rem;
    }
    #cafe_i .title .t2{
        font-size: 3.5rem;
    }
    #cafe_i .title .t3{
        display: none;
    }
    #cafe_i .all{
        display: flex;
        flex-direction: column;
    }
    #cafe_i .text1{
        width: 100%;
        position: unset;
        order: 2;
        margin-bottom: 80px;
        font-size: 2.5rem;
    }
    #cafe_i .text2{
        position: unset;
        bottom: 0;
        order: 3;
    }
    #cafe_i .box{
        width: 100%;
        order: 1;
        position: unset;
        top: 0;
        left: 0;
    }
    footer{
        padding: 0 40px;
        margin-bottom: 50px;
    }
    footer h2{
        padding: 0;
    }
    footer .all{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    footer .all .f1{
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #000;
    }
    footer .all .f2{
        width: 100%;
        margin-top: 50px;
        padding: 0;
        border-bottom: 1px solid #000;
    }
    footer .all .f2 .text2{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:870px) {
    #le .title .t1{
        font-size: 4.5rem;
    }
    #le .title .t2{
        font-size: 3rem;
    }
    #sup .title .t1{
        font-size: 4.5rem;
    }
    #sup .title .t2{
        font-size: 3rem;
    }
    #ui .title .t1{
        font-size: 4.5rem;
    }
    #ui .title .t2{
        font-size: 3rem;
    }
    #brand .title .t1{
        font-size: 4.5rem;
    }
    #brand .title .t2{
        font-size: 3rem;
    }
    #cafe_i .title .t1{
        font-size: 4.5rem;
    }
    #cafe_i .title .t2{
        font-size: 3rem;
    }
}
@media screen and (max-width:767px) {
    #my{
        padding: 0 20px;
    }
    #my .allbox .all1 .text p{
        font-size: 2rem;
    }
    #le{
        height: 120vh;
        padding: 0 20px;
    }
    #le .title .t1{
        font-size: 4rem;
    }
    #le .title .t2{
        font-size: 2.5rem;
    }
    #le .text1{
        font-size: 2rem;
    }

    #sup{
        height: 120vh;
        padding: 0 20px;
    }
    #sup .title .t1{
        font-size: 4rem;
    }
    #sup .title .t2{
        font-size: 2.5rem;
    }
    #sup .text1{
        font-size: 2rem;
    }
    #ui{
        height: 120vh;
        padding: 0 20px;
    }
    #ui .title .t1{
        font-size: 4rem;
    }
    #ui .title .t2{
        font-size: 2.5rem;
    }
    #ui .text1{
        font-size: 2rem;
    }
    #brand{
        height: 120vh;
        padding: 0 20px;
    }
    #brand .title .t1{
        font-size: 4rem;
    }
    #brand .title .t2{
        font-size: 2.5rem;
    }
    #brand .text1{
        font-size: 2rem;
    }
    #cafe_i{
        height: 130vh;
        padding: 0 20px;
    }
    #cafe_i .title .t1{
        font-size: 4rem;
    }
    #cafe_i .title .t2{
        font-size: 2.5rem;
    }
    #cafe_i .text1{
        font-size: 2rem;
    }
    footer .all .f1{
        font-size: 2rem;
    }
    footer .all .f2 .text1 p{
        font-size: 2rem;
    }
    footer .all .f2 .text2 p{
        font-size: 2rem;
    }
}

@media screen and (max-width:575px) {
    #my{
        padding: 0 16px;
    }
    #le{
        padding: 0 16px;
        border-radius: 55px;
    }
    #sup{
        padding: 0 16px;
    }
    #ui{
        padding:0 16px;
        border-radius: 55px;
    }
    #brand{
        padding:0 16px;
    }
    #cafe_i{
        padding:0 16px;
        border-radius: 55px;
    }
    
}

@media screen and (max-width:390px) {
    #my .allbox .all2 .a1 h4{
        margin-bottom:20px;
    }
    #my .allbox .all2 .a1 p{
        font-size: 1.4rem;
    }
    #my .allbox .all2 .a2 h4{
        font-size: 1.8rem;
    }
    #le{
        height: 125vh;
    }
    #le .title .t1{
        font-size: 1.5rem;
    }
    #le .title .t2{
        font-size: 1.4rem;
    }
    #le .text1{
        font-size: 1rem;
    }
    #le .text2{
        font-size: 0.9rem;
    }
    #sup{
        height: 125vh;
    }
    #sup .title .t1{
        font-size: 1.5rem;
    }
    #sup .title .t2{
        font-size: 1.4rem;
    }
    #sup .text1{
        font-size: 1rem;
    }
    #sup .text2{
        font-size: 0.9rem;
    }
    #ui{
        height: 125vh;
    }
    #ui .title .t1{
        font-size: 1.5rem;
    }
    #ui .title .t2{
        font-size: 1.4rem;
    }
    #ui .text1{
        font-size: 1rem;
    }
    #ui .text2{
        font-size: 0.9rem;
    }
    #brand{
        height: 125vh;
    }
    #brand .title .t1{
        font-size: 1.5rem;
    }
    #brand .title .t2{
        font-size: 1.4rem;
    }
    #brand .text1{
        font-size: 1rem;
    }
    #brand .text2{
        font-size: 0.9rem;
    }
    #cafe_i{
        height: 155vh;
    }
    #cafe_i .title .t1{
        font-size: 1.5rem;
    }
    #cafe_i .title .t2{
        font-size: 1.4rem;
    }
    #cafe_i .text1{
        font-size: 1rem;
    }
    #cafe_i .text2{
        font-size: 0.9rem;
    }
    footer .all .f1{
        font-size: 1.4rem;
    }
    footer .all .f2 .text1 p{
        font-size: 1.7rem;
    }
    footer .all .f2 .text2 p{
        font-size: 1.8rem;
    }
}
@media screen and (max-width:380px) {
    #my .allbox .all1 .text p{
        font-size: 1.7rem;
    }
    
}

@media screen and (max-height:450px) {
    #my .allbox .all1 .text p{
        font-size: 2rem;
    }
    #le{
        border-radius: 55px;
    }
    #le .title{
        height: 150px;
    }
    #le .all{
        flex: unset;
    }
    #le .text1{
        width: 90%;
        position: absolute;
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    #le .box{
        width: 55%;
        position: absolute;
        top: 40%;
        left: 40%;
    }
    #le .text2{
        width: 45%;
        position: absolute;
        font-size: 1.6rem;
        bottom: 14%;
    }
    #sup .title {
        height: 150px;
    }
    #sup .all{
        flex: unset;
    }
    #sup .text1{
        width: 90%;
        position: absolute;
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    #sup .box{
        width: 55%;
        position: absolute;
        top: 40%;
        left: 40%;
    }
    #sup .text2{
        width: 45%;
        position: absolute;
        font-size: 1.6rem;
        bottom: 14%;
    }
    #ui{
        border-radius: 55px;
    }
    #ui .title{
        height: 150px;
    }
    #ui .all{
        flex: unset;
    }
    #ui .text1{
        width: 90%;
        position: absolute;
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    #ui .box{
        width: 55%;
        position: absolute;
        top: 40%;
        left: 40%;
    }
    #ui .text2{
        width: 45%;
        position: absolute;
        font-size: 1.6rem;
        bottom: 14%;
    }
    #brand .title{
        height: 150px;
    }
    #brand .all{
        flex: unset;
    }
    #brand .text1{
        width: 90%;
        position: absolute;
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    #brand .box{
        width: 55%;
        position: absolute;
        top: 46%;
        left: 40%;
    }
    #brand .text2{
        width: 45%;
        position: absolute;
        font-size: 1.6rem;
        bottom: 14%;
    }
    #cafe_i{
        height: 140vh;
        border-radius: 55px;
    }
    #cafe_i .title{
        height: 150px;
    }
    #cafe_i .all{
        flex: unset;
    }
    #cafe_i .text1{
        width: 90%;
        position: absolute;
        margin-bottom: 0;
        font-size: 1.8rem;
    }
    #cafe_i .box{
        width: 55%;
        position: absolute;
        top: 55%;
        left: 40%;
    }
    #cafe_i .text2{
        width: 45%;
        position: absolute;
        font-size: 1.6rem;
        bottom: 10%;
    }
}